@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
.margin{
    margin-left: 120px;
    margin-right: 120px;
}
  .displayflex{
    display: flex;
  }
  .btn-primary{
    background-color: orange;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 35px;
    border-radius: 10px;
  }
  .btn-primary-2{
    background-color: black;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 35px;
    border-radius: 10px;
  }

  .dark2{
    color: #424242;
  }

  .dark3{
    color: #727272;
  }

  /* Navbar */

  .logo{
    justify-content: space-between;
  }

  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  
  .nav-links a{
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }
  .navbar{
    max-width: 1440px;
    margin: 0 auto;
  }
  #home{
    font-size: 1.25rem;
    color:orange ;
  }
 #about{
    font-size: 1.25rem;
    color: skyblue;
 }
 #faci{
    font-size: 1.25rem;
    color: #05D4DF;
 }
 #adm{
    font-size: 1.25rem;
    color: #5D58EF;
 }
.scl{
    font-size: 1rem;
    font-weight: 900;
}
.menu-icon{
    display: none;
    width: 20px;;
    
}
/**banner**/

.banner{
    display: flex;
}
main > section {
    margin-top: 0px;
  }
  .features{
    max-width: 530px;  
  }

  .img{
max-width: 440px;
  }
  .banner-title{
    font-weight: bold;
    font-size: 3.25rem;
    margin-top: 200px;

  }

  #t1{
    color: orange;
  }
  #t3{
    color: skyblue;
  }




@media (max-width: 768px) {

    .banner{
        flex-direction: column;
       
    }
    .img{
        order: 1;
    }
    .features{
        order: 2;
        margin-top: 0px;
        justify-items: center;
        text-align: center;
    }
    .banner-title{
        margin-top: 20px;
    }
    .navbar, .nav-links, .btn-primary, .scl{
      display: none;
    }
    .navbar, .menu-icon {
      display: block;
    }

    .logo{
        justify-content: space-between;
        
        
    }

    .margin{
        margin-left: 20px;
        margin-right: 20px;
    }

}    