@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
    background-color: #FFA500;
    color: white; 
    padding: 10px 0;
    margin-top: 30px;
  }
.margin{
    margin-left: 120px;
    margin-right: 120px;
}
main{
  max-width: auto;
  margin: 0 auto;
}
  .displayflex{
    display: flex;
  }

  .gap{
    gap: 20px;
  }
  .btn-primary{
    background-color: orange;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 35px;
    border-radius: 10px;
  }
  .btn-primary-2{
    background-color: black;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 35px;
    border-radius: 10px;
  }
  .btn-primary-3{
    background-color: black;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 35px;
    border-radius: 10px;   
    margin-top: 50px;
   
  }

  .dark2{
    color: #424242;
  }

  .dark3{
    color: #727272;
  }

  /* Navbar */

  .logo{
    justify-content: space-between;
  }

  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  
  .nav-links a{
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }
  .navbar{
    max-width: 1440px;
    margin: 0 auto;
  }
  #home{
    font-size: 1.25rem;
    color:orange ;
  }
 #about{
    font-size: 1.25rem;
    color: skyblue;
 }
 #faci{
    font-size: 1.25rem;
    color: #05D4DF;
 }
 #adm{
    font-size: 1.25rem;
    color: #5D58EF;
 }
.scl{
    font-size: 1rem;
    font-weight: 900;
}
.menu-icon{
    display: none;
    width: 20px;;
    
}
.navbar-line {
  height: 2px;
  background-color: #1d1d1d;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  display: none;
}
/**banner**/

.banner{
    display: flex;
    justify-content: space-around;

}
main > section {
    margin-top: 0px;
  }
  .features{
    max-width: 530px;  
  }

  .img{
max-width: 540px;
  }
  .banner-title{
    font-weight: bold;
    font-size: 3.25rem;
    margin-top: 200px;

  }

  #t1{
    color: orange;
  }
  #t3{
    color: skyblue;
  }

  /**standard curriculam section**/

  .sc-title{
    
    font-size: 2.75rem;
    font-weight: 700;
    text-align: center;
  }
  .sc{
    background-image: url(../assets/bg.png);
  }
  .sc-card-3{
    padding: 15px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #F2E8FF, white );
    justify-items: center;
    margin-right:120px ;

}
.sc-card-2{
    padding: 15px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #FFF4DC, white );
    justify-items: center;

}
.sc-card-1{
    padding: 15px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #DEF5FF, white );
    justify-items: center;
    margin-left: 120px;

}
.sc-content{
    gap: 20px;
}
#btn-1{
    border: none;
    background: none;
    color: #05D4DF;
}
#btn-2{
    border: none;
    background: none;
    color: orange;
}
#btn-3{
    border: none;
    background: none;
    color: purple;
}
.arrow-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: orange;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  .arrow-btn:hover {
    transform: scale(1.1);
  }
  .arr-btn{
    justify-items: center;
  }

  /**our stories**/

  .story{
    background-image: url(/assets/bg.png), linear-gradient(to bottom, white, #ffe3c8);;
    margin-top: 50px;
    margin-right: 0px;
    margin-right: 0px;
    padding-bottom: 50px;
    align-items: center;
    max-width: auto;
    
  }
  
    

  .story-card-1{
    border: 1px;
    width: 450px;
    height: 565px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);


  }
  .img-2{
    max-width: 450px;
    border-radius: 15px 15px 0px 0px;
  }
  .btn-st-1{
    border: none;
    background:#3CD8E8;
    color: white;
    padding: 15px;
    border-radius: 25px;
    margin-left: -200px;
    margin-top: -250px;
}
.story-card-2{
    border: 1px;
    width: 250px;
    height: 270px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 20px;
    
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);


  }
  .img-3{
    max-width: 250px;
    border-radius: 15px 15px 0px 0px;
  }
  .story-2{
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 24px;
  }
  .story-container{
    display: flex;
    justify-content: center;
  }
  .btn-st-2{
    border: none;
    background:#95B226;
    color: white;
    padding: 15px;
    border-radius: 25px;
    margin-left: -50px;
    margin-top: -300px;

  }
  .btn-st-3{
    border: none;
    background:#5D58F0;
    color: white;
    padding: 15px;
    border-radius: 25px;
    margin-left: -50px;
    margin-top: -300px;

  }
  .view{

    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .st-title{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;

  }

  /**foooter**/

.footer{
  background-color: #01ACFD;

}
.foot{
  display: flex;
}

.footer-content{
  justify-content: space-around;
  padding: 100px 100px 100px 100px;
  display: flex;
}
.footer-logo{
  height: 82px;
  width: 81px;
  margin-top: 20px;
}
.footer-title{
  color: white;
  font-size: 2rem;
}
.ti{
  color: white;
}
.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}
.footer-section ul li a {
  color: white;
  text-decoration: none;
}
.footer-section ul li a:hover {
  text-decoration: underline;
}
.para{
  color: white;
}







@media (max-width: 768px) {

    .banner, .sc-content, .footer-content{
        flex-direction: column;   
       
    }
    .footer-section{
      align-items: start;
      margin-left: -50px;

      
    }
    .img{
        order: 1;
        width: 100%;
    }
    .features{
        order: 2;
        margin-top: 0px;
        justify-items: center;
        text-align: center;
    }
    .banner-title{
        margin-top: 20px;
    }
    .navbar, .nav-links, .btn-primary, .scl, .arr-btn, .story-card-1{
      display: none;
      margin: none;
    }
    .navbar, .menu-icon, .navbar-line {
      display: block;
    }

    .logo{
        justify-content: space-between;          
        
        
    }

    .margin{
        margin-left: 20px;
        margin-right: 20px;
    }
    .sc-card-1, .sc-card-2, .sc-card-3{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .story-2{
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
      margin-right: 0px;
        
        
    }
    .story-container{
      margin-left: 30px;
      
      justify-content: center;
    }
    .story-card-2{
        width: 90%;
        
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 0.75rem;
        padding: 0;
  
    }
     .story-card-2 img{
        width: 100%;    
}   
.btn-st-3, .btn-st-2{
  width: 70%;
  padding: 5px;
  margin-top: -500px;
}

.img img{
    width: 100%;
}
} 